# Current release version
VERSION=1.0.0

# Current environment: development, staging, production
ENVIRONMENT=staging

# Debug mode or Release mode
DEBUG=true

# Server will run this port
PORT=3000

# Cronjob (see `cronjob.ts` for detail usage)
# Run every 5 minutes at second 3.
DEPLOY_DEVELOP_CRON_EXPRESSION="3 */5 * * * *"
DEPLOY_DEVELOP_BATCH_PATH=/var/www/nodecron/local/deployDevelop.sh

DEPLOY_STAGING_BATCH_PATH=/var/www/nodecron/local/deployStaging.sh
